  #div1,#div2,#div3{
      	
      	background-color:#E4E9EC;
      	line-height:25px;
      	width:180px;
      	position:absolute;
      }
      a{
      	font-size:13px;
      	color:blue;
      	text-decoration:none;
      }
	  a:hover{
      	font-size:13px;
      	color:red;
      	text-decoration:underline;
      }
.roleDiv{
	background-color:#DCDCDC;
	width:650px;
	margin:10px auto 0px auto;
	text-align:left;
	height:70px;
	line-height:70px;
	vertical-align:middle;
}
.welcomeDiv{
	width:650px;
	height:50px;
	font-size:20px;
	line-height:50px;
	vertical-align:middle;
	font-weight:bold;
	text-align:left;
	background-color:#CDFFFF;
	margin:0px auto 0px auto;
}
.typeDiv{
	width:650px;
	background-color:#CDFFFF;
	margin:20px auto 0px auto;
}
.msgDiv{
	width:700px;
	margin:0px auto 0px auto;
	border:1px solid #2262BB;
	font-size:20px;
}
.contentDiv{
	width:900px;
	height:1100px;
	margin:0px auto 0px auto;
	background-color:white;
}
.leftDiv{
	font-size:16px;
	line-height:30px;
	width:200px;
	height:1100px;
	float:left;
	text-align:left;
	background-color:#D3D6FF;
}
.rightDiv{
	width:700px;
	height:400px;
	float:left;
	text-align:left;
	background-color:white;
}
.locationDiv{
	width:900px;
	height:25px;
	margin:0px auto 0px auto;
	background-color:#FFFFFB;
	text-align:left;
	font-weight:bold;
	line-height:25px;
	vertical-align:middle;
}
.menuDiv{
	width:900px;
	height:25px;
	margin:0px auto 0px auto;
	background-color:#E4E9EC;
}
.menu1{
	width:180px;
	text-align:center;
	height:25px;
	line-height:25px;
	vertical-align:middle;
	float:left;
}
.headDiv{
	width:900px;
	margin:0px auto 0px auto;
	height:80px;
}
.headDiv1{
	float:left;
	width:600px;
	background-color:#1B66B9;
	text-align:center;
	line-height:80px;
	vertical-align:middle;
	color:white;
	font-weight:bold;
	font-size:30px;
}
.headDiv2{
	float:left;
	width:299px;
}
.headDiv3{
	width:900px;
	height:23px;
	background-color:#2262BB;
	margin:3px auto 0px auto;
}
body{
	font-size:13px;
	text-align:center;
	background-color:#AFCBEC;
	margin-top:0px;
}
a{
	font-size:13px;
	color:#005D8E;
	text-decoration:none;
}
a:hover{
	font-size:13px;
	color:red;
	text-decoration:underline;
}
td{
	font-size:13px;
}